<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorate="~{common/layouts/detault_layout}"
	  layout:fragment="Content">

<body>
	<div class="container">
		<h3>전체 사원 조회</h3>
		<table>
			<thead>
				<tr>
					<th>No.</th>
					<th>사원번호</th>
					<th>이름</th>
					<th>입사일자</th>
					<th>업무</th>
				</tr>
			</thead>	
			<tbody>
				<th:block th:each="info, sts : ${emps}"> <!-- 반복문 block th:each="임시변수 : ${}" -->
					<!-- info <=> EmlVO => <tr/> -->
					<!-- 반복하고자 하는 코드 -->
					<!--/* <tr th:onclick="|location.href='@{/empInfo(employeeId=${info.employeeId})}'|"> */-->
					<tr>
						<td>[[ ${ sts.count } ]]</td>
						<td th:text="${info.employeeId}"/> <!-- thymeleaf문법 -->
						<td th:text="${info.lastName}"/>
						<!--/* <td>입사일자 : [[ ${ info.hireDate } ]]</td> */--> <!-- 인라인방식 -->
						<td>[[ ${ #dates.format(info.hireDate, "yyyy년 MM월 dd일") } ]]</td> <!-- 내장객체 #dates.format(자바유틸date,"표현식") -->
						<td>업무 : [[ ${ emps[sts.index].jobId } ]]</td> <!-- 인라인배열방식 잘 안씀 -->
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
<script>
	const context = $('meta[name="ctxPath"]').attr('value'); // val();
	$('tbody > tr').on('click', function(e){
		let trTag = e.currentTarget;
		let eid = $(trTag).children().eq(1).text();
		let url = (context==undefined?'':context) + '/empInfo?employeeId=' + eid;
		location.href=url;
	});
</script>
</body>
</html>